#comingsoon{
	text-align: center;
	margin: 60px 0;
}

#comingsoon #logo{
	background: url(../images/logo.png) no-repeat 50% 0;
	height: 41px;
 	width: 250px;
  	padding: 0;
  	margin: 0 auto 50px;
  	text-indent: -9999em;
  	display: inline-block;
}

#comingsoon .comingsoon-title{
	margin: 0 0 50px;
	font-weight: 300;
}

#comingsoon .comingsoon-countdown{
	margin: 0 0 50px;
}

#comingsoon .comingsoon-countdown .days,
#comingsoon .comingsoon-countdown .hours,
#comingsoon .comingsoon-countdown .minutes,
#comingsoon .comingsoon-countdown .seconds{
	display: inline-block;
	margin: 5px;
	padding: 20px 0 30px;
	width: 130px;
	text-align: center;
	background: linear-gradient(#5b963c 50%, #62a83d 50%);
}

#comingsoon .comingsoon-countdown span.number{
	display: block;
	font-size: 30px;
	line-height: 48px;
	color: #fff;
}

#comingsoon .comingsoon-countdown span.string{
	display: block;
	margin-top: 10px;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;
}

#comingsoon .comingsoon-content{
	margin: 0 0 50px;
	max-width: 850px;
	display: inline-block;
}

#comingsoon .social-icons{
	list-style: none;
	margin: 0;

}
#comingsoon .social-icons li{
	display: inline-block;
}
#comingsoon .social-icons li a:hover{
	text-decoration: none;
}

#comingsoon .social-icons li i{
	color: #d0d0d0;
	font-size: 24px;
	margin: 0 10px;
}
#comingsoon .social-icons li i:hover{
	color: #5b963c;
	transition: 400ms;
}